*{
    font-family: "Roboto",sans-serif;
}
.outer{
    border: 2px solid black;
    height: 1150px;
    width: 100%;
    display: flex;
}
.inner{
    border: 2px solid black;
    height: 1135px;
    width: 500px;
    margin: 5px;
}
.image{
    background-image:url('https://www.w3schools.com/w3images/avatar_hat.jpg');
    height: 330px;
    width: 500px;
}
.content{
    position: relative;
    top: 300px;
    padding: 8px;
}
.image2{
    border: 2px solid black;
    height: 470px;
    width: 950px;
    margin: 5px;
}
.bottom{
    background-color: #009688;
    height: 100px;
    width: 100%;
    padding: 15px;
}